<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xcy.seckill.mapper.SeckillMapper">

    <resultMap id="seckillMap" type="seckill">
        <id property="seckillId" column="seckill_id"/>
        <result property="startTime" column="start_time"/>
        <result property="endTime" column="end_time"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <select id="getSeckillList" resultMap="seckillMap">
         select * from seckill
    </select>

    <select id="getSeckillById" resultMap="seckillMap" parameterType="int">
         select * from seckill where seckill_id = #{id}
    </select>
</mapper>